<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Ola mundo</h1>
	<a href="/cadastroPessoa">Cadastro de Pessoa</a>
	<br>
	<a href="/cadastroVeiculo">Cadastro de Veículo</a>
	<br><br><br><br>
	
	<form action="calcularCustoTotal" method="post">
		<label>Distância Rodovia Pavimentada(RP): </label> 
		<input name="distanciaRodoviaPavimentada"> <br>
		
		<label>Distância Rodovia NÃO Pavimentada(RNP): </label> 
		<input name="distanciaNaoRodoviaPavimentada"> <br>
		
		<label>Veículo: </label> 
		<input name="nomeVeiculo"> <br>
		
		<label>Carga (ton): </label> 
		<input name="carga"> <br><br>		
		
		<input type="submit" value="Calcular"> <br><br><br><br>
		
		<label>Custo Total: </label> 
		<input name="custoTotal"> 
	</form>
</body>
</html>